@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html{
  height: 100%;
  box-sizing: border-box;
}
* {
  font-family: Roboto Slab;
  text-decoration: none;
}

body {
  background-color: #b0e1d8;
  border: groove #eaf9f8 10px;
  text-align: center;
  position: relative;
  min-height: 90%;
}

h1{
  font-size: 500%;
  color: #395990;
  margin-top: .5%
}

h2{
  color: #395990;
  margin:auto;
  margin-top: 1%;
}

h3{
  font-size: 100%;
  color: #395990;
}

.questions{
  border: solid #15e376 4px;
  margin: 5%;
}

.answer li{
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  color: #395990;
  font-size: 200%;
}

.answer{
  border-color: solid #eaf9f8;
}

p{
  font-size: 200%;
  text-align: center;
  vertical-align: center;
}
